<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
    </tr>
  </thead>

  <tbody>
    <% @basic_informations.each do |basic_information| %>
      <tr>
        <td><%= basic_information.building_name %></td>
        <td><%= basic_information.rent %></td>
        <td><%= basic_information.address %></td>
        <td><%= basic_information.age %></td>
        <td><%= basic_information.info %></td>
        <td><%= link_to 'Show', basic_information %></td>
        <td><%= link_to 'Edit', edit_basic_information_path(basic_information) %></td>
        <td><%= link_to 'Destroy', basic_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_basic_information_path %>
